<!--The content below is only a placeholder and can be replaced.-->
<div style="overflow-y: auto; overflow-x: hidden;" [ngStyle]="{'min-height': innerHeight}">   
    <!--<app-filter #filter></app-filter>-->
    
    <!-- <app-email-form></app-email-form> -->
    <router-outlet></router-outlet>
    
    <!-- <app-search-results></app-search-results> -->
    <!-- <app-research></app-research> -->
    <!-- <app-models gridheight="900"></app-models> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-advanced-search></app-advanced-search> -->
    <!--<app-research-usage gridheight="900"> </app-research-usage>-->
</div>