
.cdk-global-overlay-wrapper {
    align-items: center !important;
    justify-content: center !important
  }

  .spinner{
    position: absolute; left: 50%; top: 45%
  }
  
  :host ::ng-deep .rightAlignIssueFix .ag-cell-wrapper {
    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep 
.ag-header-cell-label {
    justify-content: center;
 }