<div class = "user-info" >
<!-- 
  <mat-grid-list cols="2" rowHeight= "2:1">
    <mat-grid-tile
        rowspan = "2"
    >
        <mat-icon [matBadge]="cartSize$ | async" matBadgeColor="warn">shopping_cart</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile
    >
        <mat-icon>account_circle</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile>
        skamal
    </mat-grid-tile>

  </mat-grid-list> -->

  <!-- <span><a href="/research/cart.aspx">My Cart </a> </span>
  <span *ngIf="(cartSize$ | async) == 0">is empty</span>
  <span *ngIf="(cartSize$ | async) == 1">contains {{cartSize$ | async}} item</span>
  <span *ngIf="(cartSize$ | async) > 1">contains {{cartSize$ | async}} items</span>  -->
<div>
    <mat-icon [matBadge]="cartSize$ | async" matBadgeColor="warn">shopping_cart</mat-icon>
</div>
<div style="clear:both;">
    <mat-icon>account_circle</mat-icon>
    <span>skamal</span>
</div>
<!-- <div>skamal </div> -->
 <!-- <div style="position: absolute;">{{loggedInUser$ | async}} </div>  -->

  
</div>